.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1e1e2f;
  padding: 15px 25px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.left h2 {
  margin: 0;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
}
